<h1>Get Hartl Chapters</h1>
<%= print_hartl_chapter_links %>

<hr />
<h2>Terminal</h2>
<div class="terminal"> <%= print_terminal(@url) %> </div>

<!--h3>RoR</h3>
<div class="ror"> <%# = print_ror(@url) %> </div-->
