<header>
	<div class="container">
		<div class="topnav">
			<h1><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Michael Hartl Tutorial: All The Code</a></h1>
			<div class="toggle-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<ul>
			<%= print_hartl_chapter_links %>
		</ul>
	</div>
</header>