<header>
	<div class="container">
		<div class="topnav">
			<h1>Michael Hartl's Ruby on Rails Tutorial: Cheat Sheet</h1>
			<div class="toggle-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<ul>
			<%= print_hartl_chapter_links %>
		</ul>
	</div>
</header>